<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <h1> <%= type %> images are </h1>

        <table>
            <tr>
                <th> Name </th>
                <th> Type </th>
                <th> Size </th>
                <th> Dimension </th>
            </tr>

            <% for (var i=0;i<mysql.length;i++){ %>
                <tr>
                    <th> <%= mysql[i].name %> </th>
                    <th> <%= mysql[i].type %> </th>
                    <th> <%= mysql[i].size %> </th>
                    <th> <%= mysql[i].dimension %> </th>
                </tr>
            <% } %>
        </table>

        <%= msg %>
    </body>
</html>
