<html>
    <style>
        .account form{
            float: right;
            display: inline-block;
        }

        .update {
            width: 33%;
            float: left;
        }

        .search {
            width: 33%;
            float: left;
        }

        .search_buttons form{
            display: inline-block;
        }

        .display{
            height: 50%; 
            width: 85%;
            overflow-y:scroll;
        }

        th{
            border: 1px solid black;
        }

        .create_delete {
            width: 33%;
            float: left;
        }
    </style>

    <body>
        <h1> Welcome <%= user %> </h1>

        <div class="account">
            <form action='/logout' method="post">
                <button type="submit"> Log out </button>
            </form>
            <form action='/manage_account' method="post">
                <button type="submit"> Manage Account </button>
            </form>
        </div>        

        <div class="update">
            <h2> Update image </h2>

            <form action='/update_image' method="post">
                Name: <input type="text" name="img_name" required><br>
                Type: <input type="text" name="img_type"><br>
                Size (MB): <input type="text" name="img_size"><br>
                Dimension: <input type="text" name="img_dimension"><br>

                Scope: <input type="radio" name="img_private2" id="img_private2"
                        onclick='radar_handler2("private")'> Private
                       <input type="radio" name="img_public2" id="img_public2"
                        onclick='radar_handler2("public")'> Public <br>

                <button type="submit"> Update </button>
            </form>

            <h2> Share/Unshare image </h2>

            <form action='/share_image' method="post">
                User: <input type="text" name="img_user_share"><br>
                Image: <input type="text" name="img_name_share"><br>
                <button type="submit" name="share"> Share </button>
                <button type="submit" name="unshare"> Unshare </button>
            </form>

        </div>

        <div class="search">
            <div class="search_buttons">
                <h2> Search images </h2>

                <form action='/search_user_images' method="post">
                    <input type="text" name="img_search" required>
                    <button type="submit"> Search </button> 
                </form>
                
                <br>

                <form action='/search_public_images' method="post">
                    <button type="submit"> Public </button>
                </form>
                <form action='/search_private_images' method="post">
                    <button type="submit"> My images </button>
                </form>
                <form action='/search_shared_images' method="post">
                    <button type="submit"> Shared </button>
                </form>
            </div>

            <div class="display"> 
                <table>
                    <tr>
                        <th> Name </th>
                        <th> Type </th>
                        <th> Size </th>
                        <th> Dimension </th>
                    </tr>

                    <% for(var i=0; i<search.length; i++){ %>
                        <tr>
                            <th> <%= search[i].name %> </th>
                            <th> <%= search[i].type %> </th>
                            <th> <%= search[i].size %> </th>
                            <th> <%= search[i].dimension %> </th>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
        
        <div class="create_delete">
            <h2> Create image </h2>

            <form action='/create_image' method="post">
                Name: <input type="text" name="img_name" placeholder="img1" required><br>
                Type: <input type="text" name="img_type" placeholder="jpg" required><br>
                Size (MB): <input type="text" name="img_size" placeholder="1" required><br>
                Dimension: <input type="text" name="img_dimension" placeholder="512x512" required><br>

                Scope: <input type="radio" name="img_private" id="img_private"
                        onclick='radar_handler("private")' checked> Private
                       <input type="radio" name="img_public" id="img_public"
                        onclick='radar_handler("public")'> Public <br>

                <button type="submit"> Create </button>
            </form>

            <h2> Delete image </h2>

            <form action='/delete_image' method="post">
                Name: <input type="text" name="del_img_name" placeholder="img1"><br>
                <button type="submit"> delete </button>
            </form>

        </div>

        <%= msg %>
    </body>

    <script>
        var private_btn = document.getElementById('img_private');
        var public_btn = document.getElementById('img_public');

        function radar_handler(btn){
            if (btn == "private"){
                private_btn.checked = true; 
                public_btn.checked = false; 
            }
            else if (btn == "public"){
                private_btn.checked = false; 
                public_btn.checked = true; 
            }
        }

        var private_btn2 = document.getElementById('img_private2');
        var public_btn2 = document.getElementById('img_public2');

        function radar_handler2(btn){
            if (btn == "private"){
                private_btn2.checked = true; 
                public_btn2.checked = false; 
            }
            else if (btn == "public"){
                private_btn2.checked = false; 
                public_btn2.checked = true; 
            }
        }
    </script>
</html>
