<html>
    <style>
        .user {
            width: 33%;
            float: left;
        }

        .search {
            width: 33%;
            float: left;
        }

        .search_buttons form{
            display: inline-block;
        }

        .display{
            height: 50%; 
            width: 85%;
            overflow-y:scroll;
        }

        th{
            border: 1px solid black;
        }

        .image_operations {
            width: 33%;
            float: left;
        }
    </style>

    <body>
        <h1> Welcome <%= user %> </h1>

        <div class="user">
            <h2> Update password</h2>
            <form action='/update_password' method="post">
                Old password: <input type="password" name="old_password"><br>
                New password: <input type="password" name="new_password"><br>
                Retype new password: <input type="password" name="new_password2"><br>
                <button type="submit"> Update </button>
            </form>

            <h2> Delete account </h2>
            <form action='/delete_user' method="post">
                Password: <input type="password" name="password"><br>
                <button type="submit"> Delete </button>
            </form>

            <h2> Log out </h2>
            <form action='/logout' method="post">
                <button type="submit"> Log out </button>
            </form>
        </div>

        <div class="search">
            <div class="search_buttons">
                <h2> Search images </h2>

                <form action='/search_user_images' method="post">
                    <input type="text" name="img_search">
                    <button type="submit"> Search </button> 
                </form>
                
                <br>

                <form action='/search_public_images' method="post">
                    <button type="submit"> Public </button>
                </form>
                <form action='/search_private_images' method="post">
                    <button type="submit"> My images </button>
                </form>
                <form action='/search_shared_images' method="post">
                    <button type="submit"> Shared </button>
                </form>
            </div>

            <div class="display"> 
                <table>
                    <tr>
                        <th> Name </th>
                        <th> Type </th>
                        <th> Size </th>
                        <th> Dimension </th>
                    </tr>

                    <% for(var i=0; i<search.length; i++){ %>
                        <tr>
                            <th> <%= search[i].name %> </th>
                            <th> <%= search[i].type %> </th>
                            <th> <%= search[i].size %> </th>
                            <th> <%= search[i].dimension %> </th>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
        
        <div class="image_operations">
            <h2> Create image </h2>

            <form action='/create_image' method="post">
                Name: <input type="text" name="img_name" placeholder="img1"><br>
                Type: <input type="text" name="img_type" placeholder="jpg"><br>
                Size (MB): <input type="text" name="img_size" placeholder="1"><br>
                Dimension: <input type="text" name="img_dimension" placeholder="512x512"><br>

                Scope: <input type="radio" name="img_private" id="img_private" onclick='radar_handler("private")' checked> Private
                <input type="radio" name="img_public" id="img_public" onclick='radar_handler("public")'> Public <br>

                <button type="submit"> Create </button>
            </form>

            <h2> Delete image </h2>

            <form action='/delete_image' method="post">
                Name: <input type="text" name="del_img_name" placeholder="img1"><br>
                <button type="submit"> delete </button>
            </form>

        </div>

        <%= msg %>
    </body>

    <script>
        var private_btn = document.getElementById('img_private');
        var public_btn = document.getElementById('img_public');

        function radar_handler(btn){
            if (btn == "private"){
                private_btn.checked = true; 
                public_btn.checked = false; 
            }
            else if (btn == "public"){
                private_btn.checked = false; 
                public_btn.checked = true; 
            }
        }
    </script>
</html>
